name: Deploy to Vercel

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - uses: pnpm/action-setup@v4
        name: Install PNPM
        with:
          run_install: false

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Install Vercel CLI
        run: pnpm install --global vercel@latest

      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=production --token=${{secrets.VERCEL_TOKEN}}

      - name: Build project
        run: vercel build --prod --token=${{secrets.VERCEL_TOKEN}}

      - name: Deploy to Vercel
        run: npx vercel --prebuilt --prod --token=${{secrets.VERCEL_TOKEN}}
        env:
          VERCEL_ORG_ID: ${{secrets.VERCEL_ORG_ID}}
          VERCEL_PROJECT_ID: ${{secrets.VERCEL_PROJECT_ID}}

      - name: Check for Markdown File Changes
        id: check_md
        run: |
          if git diff --name-only HEAD^ HEAD | grep -q '\.md$'; then
            echo "md_changed=true" >> $GITHUB_ENV
          else
            echo "md_changed=false" >> $GITHUB_ENV
          fi

      - name: Send Slack Notification
        if: env.md_changed == 'true'
        run: |
          curl -X POST -H 'Content-type: application/json' --data '{
            "text": "π“Ά μƒλ΅μ΄ Markdown νμΌμ΄ μ¶”κ°€λμ—μµλ‹λ‹¤!\nπ”— <https://github.com/${{ github.repository }}/commit/${{ github.sha }}|μ»¤λ°‹ ν™•μΈν•κΈ°>"
          }' ${{ secrets.SLACK_WEBHOOK_URL }}
